* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .32rem;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    background: #ccc;
    header {
        background: #fff;
        flex-shrink: 0;
        width: 100%;
        height: .7rem;
        display: flex;
        align-items: center;
        img {
            display: block;
            height: 60%;
            padding: 0 10px;
        }
        h3 {
            flex: 1;
            text-align: center;
        }
    }
    section {
        flex: 1;
        margin-top: 10px;
        .logn {
            width: 100%;
            height: 1.5rem;
            display: flex;
            align-items: center;
            background: #fff;
            border-bottom: 2px solid #eee;
            img {
                display: block;
                height: 60%;
                padding: 0 10px;
            }
            h5 {
                flex: 1;
                color: #555;
                font-weight: 300;
            }
        }
        ul {
            background: #fff;
            li {
                width: 100%;
                height: 1rem;
                display: flex;
                align-items: center;
                background: #fff;
                position: relative;
                img {
                    display: block;
                    height: 50%;
                    padding: 0 10px;
                }
                h6 {
                    flex: 1;
                    height: 100%;
                    line-height: 44px;
                    font-weight: 200;
                    color: #999;
                    border-bottom: 2px solid #eee;
                }
                span {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    font-size: 16px;
                    color: #999;
                }
            }
        }
    }
}